.home {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  color: #fff;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  padding-top: 11rem;
}

.hero-content {
  z-index: 2;
  position: relative;
  margin-top: 2rem;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 0;
}

.home h1 {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  z-index: 2; 
  margin-bottom: 0.5em;
  margin-top: 5rem; 
  color: white;
}

.home h3 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  position: relative;
  z-index: 2; 
  margin-bottom: 7rem;
  animation: none; 
}

.home .btn-primary {
  margin-top: 2rem; 
  padding: 0.8rem 2rem;
  background-color: #40fde7;
  color: #c7008c;
  border: 1px solid #00414e;
  border-radius: 10px; 
  font-weight: bold; 
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  z-index: 2;
}

.home .btn-primary:hover {
  background-color: #c7008c;
  color: #40fde7;
  border: 1px solid #710055;
  transform: scale(1.05);
  animation: vibrate 0.5s ease infinite;
}

/* Styles des icônes sociales */
.social-icons {
  position: absolute;
  bottom: 1rem; /* Placement au bas de la section */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}

.social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  color: white; /* Couleur des icônes */
  background: transparent; /* Fond transparent */
  border: 2px solid white; /* Bordure */
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2); /* Effet de grossissement au survol */
  color: #c7008c; /* Couleur lors du survol */
  border: 2px solid #40fde7; /* Bordure */
  animation: rotate 0.5s ease-in-out;
}

/* Alternativement, pour une rotation */

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}