.projects {
  min-height: 80vh;
  width: 100%;
  padding: 60px 0;
  background-color: #c7008b10;
  font-family: 'Montserrat', sans-serif;
  color: #606060;
  display: flex;
  justify-content: center;
}

.projects__container {
  max-width: 80%;
  position: relative;
  width: 100%;
}

.projects__title {
  font-size: 2.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #c7008c;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.slick-slide {
  padding: 0 10px;
  transition: height 0.3s ease;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.projects__card {
  background-color: #f1f1f1;
  border: 2px solid #c7008c;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease, height 0.3s ease;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.projects__card:hover {
  transform: scale(1.05);
  height: auto;
  padding-bottom: 20px;
}

/* Masquer les détails tant que la carte n'est pas survolée */
.projects__full-details {
  display: none;
  font-size: 0.9rem;
  color: #606060;
  margin-top: 10px;
}

/* Afficher les détails lorsque la carte est survolée */
.projects__card:hover .projects__full-details {
  display: block;
}

/* Flèche visible avant le dépliage */
.projects__expand-icon {
  font-size: 1.5rem;
  color: #40fde7;
  margin-top: 10px;
  transition: opacity 0.3s ease;
  display: block;
}

/* Flèche visible avant le dépliage */
.projects__expand-icon {
  font-size: 1.5rem;
  color: #40fde7;
  margin-top: 10px;
  transition: opacity 0.3s ease;
  display: block;

  /* Centrer horizontalement et verticalement la flèche */
  position: absolute;
  left: 50%;
  top: 87%;
  transform: translate(-50%, -50%); /* Pour centrer à la fois horizontalement et verticalement */
}

/* Masquer la flèche lorsqu'on survole la carte */
.projects__card:hover .projects__expand-icon {
  opacity: 0; /* La flèche disparaît quand la carte est dépliée */
}

.projects__content-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #606060;
  margin-bottom: 0.5rem;
}

.projects__description {
  font-size: 1.1rem;
  font-weight: 400;
  color: #606060;
  margin-bottom: 10px;
}

.projects__date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 1rem; 
  font-weight: 600;
  color: #c7008c;
}

.projects__icon {
  color: #40fde7;
  font-size: inherit;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.projects__button {
  margin-top: 3.2rem;
  padding: 0.8rem 2rem;
  background-color: #40fde7;
  color: #c7008c;
  border: 1px solid #00414e;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
}

.projects__button:hover {
  background-color: #c7008c;
  color: #40fde7;
  transform: scale(1.05);
}

.projects__button:disabled {
  background-color: #d3d3d3;
  color: #606060;
  cursor: not-allowed;
}

/* Styles personnalisés pour les flèches */
.custom-arrow {
  font-size: 2rem;
  color: #c7008c;
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.custom-prev-arrow {
  left: -70px;
}

.custom-next-arrow {
  right: -70px;
}

.custom-arrow:hover {
  transform: translateY(-50%) scale(1.1);
  background-color: #c7008c;
  color: #40fde7;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

/* Styles pour la flèche de retour en haut */
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 1000;
  background-color: rgba(199, 0, 140, 0.2); /* Arrière-plan transparent */
  color: #ffffff;
  width: 50px;  
  height: 50px; 
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Invisible par défaut */
  visibility: hidden;
  font-size: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rendre la flèche visible */
.back-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover {
  background-color: #c7008c;
}


/* -------- Responsive Styles pour Projets ---------- */

/* Petits écrans (max-width: 1024px) */
@media (max-width: 1024px) {
  .projects__card {
    height: 250px;
    padding: 20px;
  }

  .projects__expand-icon {
    top: 88%;
  }

  .custom-prev-arrow {
    left: -30px;
  }

  .custom-next-arrow {
    right: -30px;
  }

  .projects__button {
    margin-top: 2.5rem;
  }

  .custom-arrow {
    background-color: rgba(199, 0, 140, 0.2); /* Rendre les flèches transparentes */
    color: #ffffff; /* Masquer la couleur de la flèche */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }

  .custom-arrow:hover {
    background-color: rgba(199, 0, 140, 0.2); /* Rendre les flèches transparentes */
    color: #ffffff; /* Masquer la couleur de la flèche */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }
}

/* Très petits écrans (max-width: 768px) */
@media (max-width: 768px) {
  .projects__container {
    max-width: 95%;
  }

  .projects__title {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }

  .projects__card {
    height: 270px;
    margin-bottom: 20px;
    padding: 15px;
  }

  .projects__expand-icon {
    top: 90%;
    font-size: 1.3rem;
  }

  .projects__button {
    margin-top: 3rem;
  }

  .custom-prev-arrow {
    left: -20px;
  }

  .custom-next-arrow {
    right: -20px;
  }

  .custom-arrow {
    background-color: transparent;
    color: transparent;
  }

  .custom-arrow:hover {
    color: #c7008c;
  }
}

/* Très petits écrans (max-width: 576px) */
@media (max-width: 576px) {
  .projects__container {
    max-width: 100%;
    padding: 0 10px;
  }

  .projects__title {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  .projects__card {
    height: 300px;
    padding: 10px;
  }

  .projects__expand-icon {
    top: 92%;
    font-size: 1.2rem;
  }

  .projects__button {
    margin-top: 2rem;
  }

  .custom-prev-arrow, .custom-next-arrow {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    background-color: rgba(199, 0, 140, 0.2); /* Arrière-plan transparent */
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }

  .custom-arrow:hover {
    background-color: rgba(199, 0, 140, 0.2); /* Rendre les flèches transparentes */
    color: #ffffff; /* Masquer la couleur de la flèche */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }

  .custom-prev-arrow {
    left: -15px;
  }

  .custom-next-arrow {
    right: -15px;
  }

  .projects__full-details {
    font-size: 0.8rem;
  }
}

